<div *ngIf="resultFound()">
    <h1 class="center">Pronóstico para {{ currentWeather.name }}</h1>
    <mat-card *ngFor="let day of getUniqueDays()" class="mat-elevation-z18">
        <mat-card-header>
            <mat-card-title>
                <h2>{{ day.dt * 1000 | date:'d/MM/yy' }}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="weather-info">
                <div class="weather-icon">
                    <app-icons-weather [currentWeather]="currentWeather"></app-icons-weather>
                </div>
                <div class="weather-min-max">
                    <p>{{ day.main?.temp_min - 273.15 | number:'1.0-0' }}<sup><small>o</small></sup>C / {{ day.main?.temp_max - 273.15 | number:'1.0-0' }}<sup><small>o</small></sup>C</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="!resultFound()">
    <h1 class="center">{{ msg || 'No se puede obtener el pronóstico' }}</h1>
</div>