//Variables de colores y otras
$orange: #f66f58;
$blue: #2840ac;
$white: #fff;
$main-text: #282828;
$gray-hover: #b4b4b4;
$blue-light: #cde4e4;
$blue-dark: #0d0c52;
$orange-light: #fcdbd5;
$brown: #c0b3a8;
$blue-medium: #8ec4c3;
$orange-medium: #f9a597;
//sizes
$pc-size-middle-size: 1600px;
$pc-size: 1440px;
$laptop-max-size: 1280px;
$laptop-middle-size: 1251px;
$laptop-size: 1024px;
$tablet-max-size: 810px;
$tablet-size: 768px;
$mobile-size: 540px;
$mobile-plus-size: 412px;
$mobile-middle-size: 384px;
$mobile-small-size: 375px;