#search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin: 16px;
    }
}

app-current-weather,
app-forecast {
    display: flex;
    justify-content: center;
    padding: 15px;
}