#search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin: 16px;
    }
}

#container {
    height: 100vh;
    padding: 15px;
    background-color: rgb(33 77 134 / 15%);
}