#title {
    margin-right: 1em;
    font-size: 15px;
}

.mat-form-field {
    font-size: 13px;
    &.mat-form-field-appearance-legacy {
        .mat-form-field-underline,
        .mat-form-field-ripple {
            background-color: #fff;
            border-bottom-color: #fff;
        }
        &.mat-focused {
            .mat-form-field-underline,
            .mat-form-field-ripple {
                background-color: #fff;
                border-bottom-color: #fff;
            }
            .mat-form-field-label {
                color: #fff;
                border-bottom-color: #fff;
            }
            .mat-input-element {
                caret-color: #fff;
                color: #fff;
                border-bottom-color: #fff;
            }
        }
    }
    &.mat-form-field-invalid {
        .mat-input-element,
        .mat-form-field-ripple {
            color: #fff;
            border-bottom-color: #fff;
        }
    }
    &.mat-warn {
        .mat-input-element,
        .mat-form-field-ripple {
            color: #fff;
            border-bottom-color: #fff;
        }
    }
    .placeholder {
        color: #fff;
    }
}

.mat-toolbar {
    background-color: rgb(31, 63, 90);
    color: #fff;
}

.mdc-button {
    border-radius: unset;
    margin-left: 10px;
    &:hover {
        background-color: rgb(95, 147, 189);
    }
}

.mat-error,
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    color: #fff;
    border-bottom-color: #fff;
}